{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<section id="home-case-studies" class="home-case-studies-section">
  <div class="swiper-container" data-anijs="if: scroll, on: window, do: fadeIn animated, before: scrollReveal">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for row in rows %}
        <div class="swiper-slide slide{{ loop.index }}">
        <div class="container-fluid p-0">
          <div class="row m-0">
            <div class="col-md-7 p-0 slide-content-wrap">
              <div class="slide-content text-white align-items-center">
                <small>{{ row.content["#view"].style_plugin.render_tokens[ loop.index0 ]['{{ field_content_type }}'] }}</small>
                <h2 class="title">{{ row.content["#view"].style_plugin.render_tokens[ loop.index0 ]['{{ field_section }}'] }}</h2>
                <div class="description">
                  {{ row.content["#view"].style_plugin.render_tokens[ loop.index0 ]['{{ body }}']|slice(0, 100)|raw }}
                </div>
                <a href="#" class="text-link-arrow fromLeft white">
                  {{ row.content["#view"].style_plugin.render_tokens[ loop.index0 ]['{{ field_button_text }}'] }}
                  <span class="arrow-right">&nbsp;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
