{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
        'home-partners-section'
      ]
    %}
  <section id="home-partners" {{ row.attributes.addClass(row_classes) }}>
    <div class="container">
      <div class="row">
        <div class="col-12 home-partners-section--content text-center">
          <div class="title-wrap text-center">
            <div data-anijs="if: scroll, on: window, do: zoomIn animated, before: scrollReveal">
              <h2 class="title">{{ row.content["#view"].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h2>
            </div>
            <div class="partners-logos">
                {% set images = row.content["#view"].style_plugin.render_tokens[ loop.index0 ]['{{ field_image }}']|split(',') %}
                {% for img in images %}
                  <img class="image" data-anijs="if: scroll, on: window, do: pulse animated, before: scrollReveal" src="{{ img|trim }}" alt="Microsoft">
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}
